header {
  display: block;
  width: 100%;
  text-align: center;
  background: url('img/header.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .headline { padding: 120px 0; }

  @import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans');

  .orange{color:#bd5532;}
  .blue{color:#6f9d9f;}

  * {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
  }

  h1,h2,h3,h4,h4{
    font-family: "Bitter",Georgia,Times,serif;
  }

  h1 {
    color: #bd5532;
    font-size: 130px;
  }

  h2 {
    font-size: 77px;
  }

  @media(max-width:1200px) {
    h1 { font-size: 140px; }
    h2 { font-size: 63px; }
  }

  @media(max-width:991px) {
    h1 { font-size: 105px; }
    h2 { font-size: 50px; }
  }

  @media(max-width:668px) {
    h1 { font-size: 70px; }
    h2 { font-size: 32px; }
  }

  @media(max-width:640px) {
    .headline { padding: 75px 0 25px 0; }
    h1 { font-size: 60px; }
    h2 { font-size: 30px; }
  }
}
